.skeleton {
  width: 100%;

  background-color: var(--card-bg);

  padding: 16px;

  border: 1px solid var(--border);
  border-radius: 12px;
}

.inner {
  display: flex;
  column-gap: 12px;
}

.counter {
  width: 24px;
  height: 20px;
}

.content {
  display: flex;
  flex-direction: column;

  width: 100%;

  row-gap: 8px;
}

.title {
  height: 20px;
}

.metadata {
  display: flex;
  column-gap: 8px;
}

.metadata div {
  height: 16px;
}

.rating {
  width: 100px;
}

.nickname {
  width: 150px;
}

.date {
  width: 100px;
}

.dotDivider {
  width: 16px;
}
